body {
  background-color: whitesmoke;
  color: black;
}
h1 {
  text-align: center;
  background-color: #aacddc;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
}
h2 {
  background-color: #a376a2;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}
