.white {
  background-color: rgb(245, 237, 237);
  width: 100px;
  height: 100px;
}
.black {
  background-color: rgb(60, 56, 56);
  width: 100px;
  height: 100px;
}
.div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
}
.content {
  justify-items: center;
  align-content: center;
  height: 100vh;
}
